.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.header_logo{
    object-fit: contain;
    height: 40px;
}
.header_icon{
    padding: 20px;
    color: black;
}